.text-center {
    text-align: center;
    padding: 20px 0;
    margin: 20px;
    border-radius: 8px;
  }
  
  .bg-red {
    background: red;
  }
  
  .mx-auto {
    margin: auto
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  
  }
  
  .items-center {
    align-items: center;
  
  }